  <h1>Clon de Quora</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p> 
  <div class="login">
    <form action="register_form" method="post">
      <p class="versal">Nombre:</p>
      <input type="text" name="name">
      <p class="versal">Email:</p>
      <input type="email" name="email">
      <p class="versal">Password:</p>
      <input type="text" name="password"><br><br>
      <input type="submit" value="Register">
  </form>
  </div>
  <div  class="login">
    <form action="/login_form" method="post">
      <p>Login</p>
      <input type="email" name="email" placeholder="Email"><br><br>
      <input type="password" name="password" placeholder="Password"><br><br>
      <input type="submit" id="submit" value="Login">
    </form>
  </div>
  

  
