<nav>
  <ul>
    <li><a href="#"><b><%= @user_login%></b></a>
      <ul class="submenu">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Close session</a></li>
      </ul>
    </li> 
    <li><a href="/show_users">See all users</a></li> 
    <li><a href="/secret">Read</a></li>  
  </ul>
  <br clear="all">
</nav>

<h3 class="logo">Clon de Quora</h3>
<p>Página de inicio</p>
   
<div class="login">
  <form action="/create_question" method="post">
    <input type="text" name="question" value="¿?"placeholder="What's your question?">
    <input type="submit" value="Ask">
  </form><br><br>
  <div id= "vote"> 
   <%= erb :_votes, layout: false %> 
  </div>
 
</div> <!-- end class loggin -->

 
    

  
  

  

  
